* {
	margin: 0;
	padding: 0;
}

body {
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'PT Sans', sans-serif;
    background-color: #252529;
    
}

.header {
	font-size: 20px;
	height: 2em;
	width: 105%;
	position: static;
	/*position: relative;*/
	right: 2em;
	display: block;
	background-color: #333;
}

.header a {
	color: #eee;
	position: static;
	text-decoration: none;
}

.flist {
	list-style: none;
	position: relative;
	left: 3em;
	top: 0.4em;
}

.slist {
	list-style: none;
	position: relative;
	left: 9em;
	bottom: 0.7em;
}


.tlist {
	list-style: none;
	position: relative;
	left: 16em;
	bottom: 1.8em;
}

.folist {
	list-style: none;
	position: relative;
	left: 21em;
	bottom: 3em;
}

.filist {
	list-style: none;
	position: relative;
	left: 26em;
	bottom: 4.1em;
}

.container1 {
	background-image: url(images/music.jpg);
	width: 100%;
	height: 38em;
	background-size: 86em;
}

.container1 h1 {
	color: white;
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	position: relative;
	top: 2em;
}

.container1 h2 {
	color: white;
	line-height: 1.6;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	position: relative;
	top: 5em;
}

.container1 p {
	line-height: 1.6;
	color: white;
	text-align: center;
	font-size: 1.3em;
	position: relative;
	top: 8.5em;
}

.container2 h2 {
	font-size: 2.5em;
	color: white;
	text-align: center;
	margin-top: 3em;
	
}

.container2 h3 {
	line-height: 1.6;
	font-size: 2em;
	color: white;
	text-align: center;
	margin-top: 1em;
}

.container2 p {
	line-height: 1.6;
	font-size: 1.3em;
	text-align: center;
	color: white;
	margin-top: 3em;
}

.container2 button {
	height: 4.5em;
	text-align: center;
	padding-right: 1em;
	padding-left: 1em;
	background-color: red;
	border-color: red;
	color: white;
	position: relative;
	top: 3em;
	left: 44.7em;
}

.container2 img {
	width: 100%;
	position: relative;
	left: 1.5em;
	top: 1.5em;
}

.container3 {
	background-color: #fff;
	padding-bottom: 10em;
}

.container3 h1 {
	font-size: 2rem;
	font-weight: lighter;
	text-align: center;
	position: relative;
	top: 2em;
}

.container3 p {
	font-size: 1.3em;
	font-weight: lighter;
	text-align: center;
	line-height: 1.5;
	position: relative;
	top: 4em;
}

.container3 button {
	height: 4.5em;
	text-align: center;
	padding-right: 2.5em;
	padding-left: 2.5em;
	background-color: lightblue;
	border-color: lightblue;
	color: white;
	position: relative;
	bottom: 58em;
	right: 44em;
}

.container3 img {
	width: 100%;
	position: relative;
	top: 12em;
	left: 5em;
	padding-bottom: 5em;
}

.container4 {
	height: 20em;
}

.container4 h1 {
	color: white;
	font-weight: lighter;
	text-align: center;
	font-size: 2em;
	margin-top: 5em;
}

.container4 p {
	color: white;
	text-align: center;
	font-weight: lighter;
	font-size: 1.3em;
	line-height: 1.5;
	margin-top: 2em;
}

.container5 {
	background-color: white;
	overflow: hidden;
}

.container5 img {
	height: 25em;
	margin-top: 3em;
	margin-left: 4em;
}

.container5 h1 {
	font-weight: lighter;
	font-size: 1.9em;
	position: relative;
	left: 23em;
	bottom: 11em;
}

.container5 p {
	font-weight: lighter;
	line-height: 1.5;
	position: relative;
	bottom: 19em;
	left: 44em;
}

.container5 h3 {
	font-size: 1em;
	font-weight: lighter;
	position: relative;
	bottom: 17em;
	left: 44em;
}

hr {
	margin-top: 20px;
	border-size: 2px;
}

.container5 a {
	text-decoration: none;
	color: lightblue;
	position: relative;
	bottom: 15em;
	left: 44em;
}

@media screen and (max-width: 480px) {

	body {
		
	}
	.header {
		font-size: 20px;
		height: 5em;
		width: 25.5em;
		color: black;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.flist {
		list-style: none;
		font-size: 20px;
		position: relative;
		left: 4em;
		top: 1em;
	}

	.slist {
		list-style: none;
		position: relative;
		left: 10em;
		bottom: 0.1em;
	}


	.tlist {
		list-style: none;
		position: relative;
		left: 17em;
		bottom: 1.2em;
	}

	.folist {
		list-style: none;
		position: relative;
		left: 7.8em;
		bottom: 0.5em;
	}

	.filist {
		list-style: none;
		position: relative;
		left: 14em;
		bottom: 1.6em;
	}

	.container1 {
		background-repeat: no-repeat;
		background-size: 30em;
		width: 100%;
		background-size: 40em;
		margin-top: 5em;
		overflow-x: hidden; 
	}

	.container1 h1 {
		color: white;
		text-align: center;
		font-size: 2.5em;
		font-weight: bold;
		position: relative;
		top: 2em;
	}

	.container1 h2 {
		color: white;
		line-height: 1.3;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
		position: relative;
		top: 5em;

		}

	.container1 p {
		line-height: 1.2;
		color: white;
		text-align: center;
		font-size: 1.3em;
		position: relative;
		top: 7em;
	}

	.container2 p {
		line-height: 1.6;
		font-size: 1.3em;
		text-align: center;
		color: white;
		margin-top: 5em;
	}
	.container2 button {
		height: 4.5em;
		width: 90%;
		padding-right: 5em;
		padding-left: 5em;
		background-color: red;
		border-color: red;
		color: white;
		position: absolute;
		left: 1.5em;
		top: 104.8em;
	}

	.container2 img {
		position: relative;
		top: 2em;
		right: 2em;
		min-height: 5em;
		max-height: 16em;
	}

	.container3 img {
		height: 20em;
		position: relative;
		top: 12em;
		left: 1.5em;
	}

	.container3 button {
		height: 4.5em;
		text-align: center;
		padding-right: 2.5em;
		padding-left: 2.5em;
		background-color: lightblue;
		border-color: lightblue;
		color: white;
		position: relative;
		bottom: 15em;
		left: 12em;
	}

	.container4 h1 {
		color: white;
		font-weight: lighter;
		text-align: center;
		font-size: 1.5em;
		margin-top: 2em;
	}

	.container4 p {
		color: white;
		text-align: center;
		font-weight: lighter;
		font-size: 1em;
		line-height: 1.5;
		margin-top: 2em;
	}

	.container5 img {
		width: 100%;
		position: relative;
		right: 4em;
		height: 20em;
	}

	.container5 h1 {
		font-weight: lighter;
		font-size: 1.9em;
		text-align: center;
		position: relative;
		left: 0em;
		bottom:0em;
	}

	.container5 p {
		margin-top: 1em;
		font-weight: lighter;
		line-height: 1.5;
		text-align: center;
		position: relative;
		bottom: 0em;
		left: 0em;
	}

	.container5 h3 {
		font-size: 1em;
		font-weight: lighter;
		position: relative;
		bottom:0em;
		left: 0em;
	}
} 